{% extends "contacts/base.html" %}
{% load extract_file_name %}
{% block body %}
<div class="container mt-3">
    {% if not user.is_authenticated %}
    <h2>Welcome to the team project.</h2>
    <p>If you want to use this application, please authorise.</p>
    {% else %}
    <h2>File List</h2>

    <div class="row">
        <div class="col-md-8">
            {% for file in files %}
            <div class="col-md-4">
                <div class="file-card border rounded shadow-sm p-3 mb-3">
                    <div class="file-content" onclick="window.open('{{ file.file.url|default:''|escape }}', '_blank')">
                        <h6 class="file-name">{{ file.file.name|get_file_name }}</h6>
                    </div>
                    <div class="file-actions mt-2 d-flex justify-content-between">
                        <a href="{{ file.file.url }}" download class="btn btn-success btn-sm">Download</a>
                        <a href="{% url 'file_manager:delete_file' file.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <nav>
                <ul class="pager">
                    <li class="previous">
                        <a class="{% if not files.has_previous %} disabled {% endif %}"
                           href="{% if files.has_previous %} {% url 'files:root_paginate' files.previous_page_number %} {% else %} # {% endif %}">
                            <span aria-hidden="true">←</span> Previous
                        </a>
                    </li>
                    <li class="next">
                        <a class="{% if not files.has_next %} disabled {% endif %}"
                           href="{% if files.has_next %} {% url 'files:root_paginate' files.next_page_number %} {% else %} # {% endif %}">
                            Next <span aria-hidden="true">→</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>

{% endblock body %}