{% extends "contacts/base.html" %}
{% load extract_file_name %}

{% block forms %}
<div class="form-floating mt-2">
    <form method="get" action="{% url 'file_manager:search_files' %}" class="d-flex">
        <input class="form-control me-2" type="search" name="f_search" placeholder="Search files"
               value="{{ f_search }}" aria-label="Search">
    
        <select name="file_category" id="file_category" class="form-select me-2">
            <option value="all" {% if selected_category == "all" %}selected{% endif %}>All files</option>
            <option value="images" {% if selected_category == "images" %}selected{% endif %}>Image</option>
            <option value="videos" {% if selected_category == "videos" %}selected{% endif %}>Video</option>
            <option value="audio" {% if selected_category == "audio" %}selected{% endif %}>Audio</option>
            <option value="documents" {% if selected_category == "documents" %}selected{% endif %}>Document</option>
        </select>
    
        <button class="btn btn-outline-info btn-sm" type="submit">Search</button>
    </form>
</div>
{% endblock forms %}


{% block body %}
<div class="container mt-3">
    {% if not user.is_authenticated %}
    <h2>Welcome to the team project.</h2>
    <p>If you want to use this application, please authorise.</p>
    {% else %}
    <h2>File List</h2>
    
    <div class="row">
            {% for file in files %}
            <div class="col-md-4 mb-3">
                <div class="file-card border rounded shadow-sm p-3 mb-3">
                    <div class="file-content">
                        <h6 class="file-name">{{ file.file.name|get_file_name }}</h6>
                        <p class="file-size">Size: {{ file.file.size|filesizeformat }}</p>
                        <p class="file-type">Type: {{ file.file.name|get_file_type }}</p>
                        <p class="file-uploaded">Uploaded: {{ file.uploaded_at|get_local_uploded_at }}</p>
                    </div>
                    <div class="file-actions mt-2 d-flex justify-content-between">
                        <a href="{{ file.file.url|default:''|escape }}" download class="btn btn-success btn-sm">Download</a>
                        <a href="{% url 'file_manager:delete_file' file.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock body %}